.form {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.input_form_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 0.5rem;
}

.input_form {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}

.buttons_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.table {
  width: 100%;
  word-wrap: nowrap;
  white-space: nowrap;
}

.table > tbody > tr > td {
  white-space: nowrap;
  margin-top: -5px;
  padding: 0.2rem;
  color: var(--dark);
}

.table > tbody > tr:nth-of-type(odd) {
  background-color: var(--grey);
  border-bottom: 1px solid;
  border-color: var(--secondary);
}

.table > thead > tr {
  margin: 0;
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.table > tbody > tr:hover {
  cursor: pointer;
}

.table > thead > tr > td {
  padding: 0.5rem;
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.right > span {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 0 0.5rem;
  font-size: 18px;
  background-color: var(--primary);
  color: var(--white);
}

@media screen and (max-width: 375px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .input_form_div {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
