.sidebar_aside {
  background-color: var(--primary);
  width: auto;
  max-width: 146px;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 999999;
}

.sidebar {
  width: 100%;
  height: 100%;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

.sidebar_item_active {
  padding: 0.7rem;
  width: 100%;
  position: relative;
  background-color: var(--secondary);
  color: var(--white) !important;
  text-align: left;
  transition: all 0.3s ease;
  font-weight: 700;
}

.sidebar_item_active span {
  padding-left: 10px;
}

.sidebar_item {
  padding: 0.7rem;
  width: 100%;
  position: relative;
  text-align: left;
  transition: all 0.3s ease;
  color: var(--white);
  font-weight: 700;
}

.sidebar_item span {
  padding-left: 10px;
}

.sidebar_item:hover {
  color: var(--white);
  background-color: var(--secondary);
}

@media screen and (max-width: 375px) {
  .sidebar_aside {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sidebar_aside {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar_aside {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar_aside {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar_aside {
    display: block;
  }
}
