.form_edita_iva {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #050f1aab;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.form_item_edita_iva {
  position: relative;
  background-color: white;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  z-index: 1060;
}

.form_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
